<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>arr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>examples.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tlbx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BE96FAC2CD4318200F40FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BE970282CD4327100F40FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BE9707D2CD4350400F40FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BE970A02CD4378C00F40FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
